<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title>LogNice!</title>
        <link rel='stylesheet' href='view/submit/index.css'>
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' crossorigin='anonymous'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dracula.min.css' rel='stylesheet'>
    </head>
    <body>
        <div id='submit-container'>
            <h1>Write a solution!</h1>
            <div class='m-3' style='width: 50%;'>
                <div id='editor' class='language-python'># `Solution` class is mandatory
class Solution:
	# so is the `solve` method
    def solve(self, **kwargs):
        pass</div>
            </div>
            <button id='submit' type='button' class='btn btn-outline-dark'>Submit</button>
        </div>
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' crossorigin='anonymous'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' crossorigin='anonymous'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js'></script>
        <script src='view/libs/codejar.js' charset='utf-8'></script>
        <script src='view/libs/linenumbers.js' charset='utf-8'></script>
        <script src='view/submit/index.js' charset='utf-8'></script>
    </body>
</html>
