<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title>LogNice!</title>
        <link rel='stylesheet' href='view/submit/index.css'>
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' crossorigin='anonymous'>
    </head>
    <body>
        <div id='notfound-container'>
            <h1>Not found!</h1>
            <p>Make sure <code>session_id</code> is in the get parameters.</p>
        </div>
    </body>
</html>
