<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title>Log(N)ice!</title>
        <link rel='stylesheet' href='view/summary/index.css'>
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    </head>
    <body>
        <div id='summary-container'>
            <h1 class='m-3' id='summary-title'></h1>
            <div id='summary-plot'></div>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src='view/summary/index.js' charset='utf-8'></script>
    </body>
</html>
